<h3> Tournament PSC2 NA </h3>
<br>
<table class="table">
    <thead>
        <tr>
          <th scope="col">TEAM</th>
          <th scope="col">MAP</th>
          <th scope="col">Date</th>
          <th scope="col">MATCH</th>
          <th scope="col">Point Kill</th>
          <th scope="col">Point Placement</th>
          <th scope="col">WWCD</th>
          <th scope="col">Total Point</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">SONIQS</th>
          <td>Miramar</td>
          <td>21-10-2021</td>
          <td>1</td>
          <td>10</td>
          <td>15</td>
          <td>1</td>
          <td>26</td>
   
        </tr>
        <tr>
          <th scope="row">OATH</th>
          <td>Miramar</td>
          <td>21-10-2021</td>
          <td>1</td>
          <td>8</td>
          <td>12</td>
          <td>0</td>
          <td>20</td>
        </tr>
        <tr>
          <th scope="row">SHOOT TO KILL</th>
          <td>Miramar</td>
          <td>21-10-2021</td>
          <td>1</td>
          <td>7</td>
          <td>10</td>
          <td>0</td>
          <td>17</td>
        </tr>
        <tr>
          <th scope="row">ANY TROLLS IN CHAT</th>
          <td>Miramar</td>
          <td>21-10-2021</td>
          <td>1</td>
          <td>6</td>
          <td>8</td>
          <td>0</td>
          <td>14</td>
        </tr>
        <tr>
          <th scope="row">ZENITH ESPORTS</th>
          <td>Miramar</td>
          <td>21-10-2021</td>
          <td>1</td>
          <td>8</td>
          <td>6</td>
          <td>0</td>
          <td>14</td>
        </tr>
      </tbody>
    </table>
