<h3> PROFILE PSC2 NA </h3>
<br>
<table class="table">
    <thead>
        <tr>
          <th scope="col">No. </th>
          <th scope="col">Team</th>
          <th scope="col">Username</th>
          <th scope="col">Gender</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>SONIQS</td>
          <td>hambinooo</td>
          <td>Man</td>
          <td>US</td>
   
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>OATH</td>
          <td>Snakers</td>
          <td>Man</td>
          <td>US</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>SHOOT TO KILL</td>
          <td>Purdy</td>
          <td>Man</td>
          <td>US</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>ANY TROLLS IN CHAT</td>
          <td>Melon</td>
          <td>Man</td>
          <td>POLANDIA</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>ZENITH ESPORTS</td>
          <td>Poonage</td>
          <td>Man</td>
          <td>US</td>
        </tr>
      </tbody>
    </table>